@font-face {
    font-family: Touche-regular;
    src: url(../fuentes/Touche\ W03\ Regular.ttf);
  }
@font-face {
    font-family: Touche-light;
    src: url(../fuentes/Touche\ W03\ Light.ttf);
}
@font-face {
    font-family: Touche-semibold;
    src: url(../fuentes/Touche\ W03\ Semibold.ttf);
}
@font-face {
    font-family: Touche-bold;
    src: url(../fuentes/Touche\ W03\ Bold.ttf);
}

body {
    font-family: Touche-regular,'Trebuchet MS', Arial, sans-serif;
    color: rgb(46, 46, 46);
}


h1 {
    font-family: Touche-semibold,'Trebuchet MS', Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-family: Touche-light,'Trebuchet MS', Arial, sans-serif;
    text-transform: uppercase;
}

h3 {
    font-family: Touche-semibold,'Trebuchet MS', Arial, sans-serif;
}

.encabezado {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,20rem), 1fr));

}

.encabezado-foto {
    background-image: url(../images/banner-facebook.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    min-height: 8rem;

}

.encabezado-logo {
    background-color: #6e67b7;
    text-align: center;
}

.encabezado-logo img {
    width: max(15rem,50%);
}


.titulo {
    text-align: center;
    padding: 2rem min(5%,5rem) 2rem min(5%,5rem);
    margin-bottom: 2rem;
}


.presentacion {
    margin-top: 2rem;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,20rem), 1fr));
    align-items: center;
    margin: auto;
    gap: 3rem;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta h3 {
    margin: 1rem 0 0 0;
}

.tarjeta p {
    text-align: center;
}

.circulo {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #6e67b7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo img {
    filter: invert(100%);
    width: 70%;
}
